body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper{
  width:1170px;

}
h1{
  font-size:200px;
  font-weight:bold:
}
h1 span{
  color:red;
}
